html,
body {
    height: 100%;
}

body {
    background: url("../img/zebra.png") no-repeat;
    background-size: 20%;
    background-position: right+8px bottom+24px;
}

header,
main,
footer {
    padding: 0 10px;
}

header {
    padding-top: 24px;
}

h1 {
    font-size: 24pt;
    font-weight: 600;
    padding-bottom: 24px;
}

hr {
    margin-top: 16px;
    border: none;
    background: linear-gradient(to right, silver, white);
    height: 1px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 4px;
    box-sizing: border-box;
    
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

p {
    line-height: 18px;
    cursor: default;
}

.author_link {
    color: black;
    text-decoration: none;
}

.author_link::after {
    content: '';
    display: inline-block;
    position: relative;
    left: 6px;
    bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(https://github.githubassets.com/pinned-octocat.svg);
}

.author_link:hover {
    text-decoration: underline;
}

.version {
}

.source {
    margin: 0 4px;
    text-decoration: none;
    font-size: 13pt;
    font-weight: 400;
    color: silver;
}

.source:hover {
    text-decoration: underline;
}

.projectLink {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin-bottom: 16px;
}

.projectLink_link {
    color: black;
}

.projectLink_favicon {
    height: 16px;
    min-width: 16px;
    margin-right: 4px;
}

.projectLink_description {
    min-width: 210px;
    text-align: right;
    flex: 1;
    color: #555;
}

::selection {
    color: white;
    background-color: silver;
}