html,
body {
    height: 100%;
}

body {
    background: url("../img/zebra.png") no-repeat;
    background-size: 20%;
    background-position: right+8px bottom+24px;
}

header,
main,
footer {
    padding: 0 10px;
}

header {
    padding-top: 24px;
}

h1 {
    font-size: 24pt;
    font-weight: 600;
    margin-bottom: 24px;
}

hr {
    margin-top: 16px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 2px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
}

p {
    line-height: 18px;
    cursor: default;
}

.projectLink {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin-bottom: 16px;
}

.projectLink_favicon {
    height: 16px;
    min-width: 16px;
    margin-right: 4px;
}

.projectLink_link {
    margin-right: 4px;
}

.projectLink_description {
    min-width: 210px;
    text-align: right;
    flex: 1;
}

::selection {
    color: white;
    background-color: silver;
}